
<div>TODO write content</div>


<form>

    <select ng-model="init" ng-model="init">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>    



<br><br>    
text area:<br>
<input type="text" name="text" ng-model="init">



<br><br>
radio:<br> 

<input ng-model="init" type="radio" name="radio" value="true">True
<br>
<input ng-model="init" type="radio" name="radio" value="false">False



<br><br>
check box:<br>   
<input ng-model="init" type="checkbox"  name="true" value="true"> true
<input  type="checkbox"  name="false" value="false"> false
<input  type="checkbox"  name="no" value="no"> no

</form> 